.navigation {
  display: flex
}
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

img{
  position:absolute;
  top:0;
  left:60px;
  width:100px;
  transform:translate(0,-100%);
  filter:invert(1);
}
